@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
main{
  display: flex;
  flex-direction: column;
  /* padding:2rem ; */
}
.hero{
  z-index: 0;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./background-pic.avif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 101vh;
  margin-top: -8rem;
  /* background-position-y: -100px; */
}
.hero-text{
  position: absolute;
  z-index: 3;
  color: #fff;
  top:50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.hero-text h2{
  font-size: 3.8rem;
}
.hero-text p{
  margin-top: -2.3rem;
  margin-bottom: 2rem;
}
.hero-text button{
  background: #50a797;
  outline: 0;
  border: 0;
  color: #fff;
  padding: .7rem .8rem;
  border-radius: 30px;
  cursor: pointer;
}

#portfolio h2{
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(90deg,rgb(252, 103, 3) 40%,green 80%);
  background-clip: text;
  color:transparent;
  font-family: "Poppins", sans-serif;

}

.grid-container {
    display: grid;
    column-gap: 20px;
    row-gap:20px;
    grid-template-columns:repeat(4,1fr) ;
    padding:0 100px;
    align-items: center;
    padding: 0 auto;
  } 
.grid-container img:nth-child(9) {
    grid-column: 1/5;
  }

img{
    width: 20vw;
    height: 25vw;
    object-fit:cover;
    margin: 0 auto;
    border-radius: 2%;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.85);
  }

#services{
  margin:2rem 0;
  padding: 0 2rem 4rem 2rem;
  background: linear-gradient(to right, #434343 0%, black 100%);

}
#services h2{
  text-align: center;
  font-size: 3.5rem;
  color:rgb(252, 120, 33);
  font-weight: 500;
}
#services p{
  color: white;
  text-align: center;
  margin-top: -1rem;
}

.packages{
  display: flex;
  gap:2rem;
}
.columns {
  /* float: left; */
  width: 33.3%;
  margin: 8px;
}

.price {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
 
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgb(255, 255, 255)
}

.price .package-name{
  background-color: #393E46;
  color: white;
  font-size: 25px;
  border-radius: 8px 8px 0 0;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}
.price >:last-child{
  border-radius: 0px 0px 8px 8px;
}

.button {
  background-color: rgb(252, 120, 33);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

/* testimonial slider */
#testimonials{
  padding: 3rem 2rem 5rem;
}

#testimonials h2{
  text-align: center;
  color: #01b0f8;
  font-size: 3rem;
  font-weight: 500;
}
#testimonials p{
  text-align: center;
  margin-top: -2rem;
  padding-bottom: 2rem;

}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;

  
  h5 {
    color: #01b0f8;
    font-size: 21px;
    line-height: 1.3;

    span {
      font-size: 18px;
      color: #666666;
    }
  }

  p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
  }
}

.active {
  opacity: 0.5;
  transition: all 0.3s;
}

.center {
  opacity: 1;

  h5 {
    font-size: 24px;

    span {
      font-size: 20px;
    }
  }

  .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
  }
}
.card-img-top {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
.swiper-pagination{
  position: relative !important;
}

@media (max-width: 767px) {
.gtco-testimonials {
  margin-top: 20px;
}
}

/* Our  Mission */
#mission{
  background: linear-gradient(to right, #434343 0%, black 100%);
  padding: 3rem 2rem 7rem;
  color: #eee;
}
#mission h2{
  text-align: center;
  font-size: 3rem;
}
.mission-details{
  display: flex;
  gap:4rem;
  padding: 0 3rem;
  align-items: center;
}
.mission-details img{
  box-shadow: 0 0;
  max-width:100px;
  height: auto;
  flex-basis: 25%;
  flex-direction: row-reverse;
  margin-right:0px;
}
.mission-details p{
  line-height: 2rem;
  flex-basis:75%
}
.footer-row{
  position: relative;
  top:5rem;
  width: 95vw;
}